$color-primary-dark: #000f26;
.title-bar-component-container {
  display: flex;
  justify-content: center;
  .title-bar-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
    // max-width: 75rem;
    margin-top: 1.5rem;
    // background: linear-gradient(to left, #000f26, #045685, #000f26);
    border: 0.125rem solid #000f26;
    border-radius: 0.313rem;
    font-size: 1.75rem;
    font-family: "Cinzel", serif;
    font-weight: bold;
    color: $color-secondary;

    @include texture-cracks(6%);

    @include text-stroke($color-primary-dark);
  }
}
