.schedule-section {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

  .schedule-section-title {
    margin-top: 0.063rem;
    margin-bottom: 0.313rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-modal-bg;
    height: 5rem;
    border-radius: 0.313rem;

    h2 {
      @include text-stroke($color-primary-dark);
      font-family: "Cinzel", serif;
      font-weight: bold;
      font-size: 1.5rem;
      color: $color-secondary;
      margin: 0;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .schedule-section-buttons {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    justify-content: space-between;
    flex-wrap: wrap;
    background: $color-primary-dark;
    border-radius: 0.313rem;
    padding: 0.5vw;
    border: 0.188rem solid $color-primary-light;

    button {
      flex: 1 0 12%;
      margin: 0.1vw;
      padding-top: 1vh;
      padding-bottom: 1vh;
      background-color: $color-secondary;
      color: $color-primary-dark;
      border-radius: 0.313rem;
      cursor: pointer;
      transition: background-color 0.4s, outline 0.1s, border 0.2s;
      text-align: center;
      border: 0.063rem solid $color-primary-dark;
      margin-top: 0.063rem;
      margin-bottom: 0.063rem;

      &:hover {
        outline: 0.125rem solid $color-select;
      }

      &.selected {
        background-color: $color-select;
        border: 0.063rem solid $color-select;
      }

      &.no-showtime {
        background-color: $color-unavailable-seat;
        cursor: not-allowed;
        &:hover {
          outline: none;
        }
      }
      p {
        margin: 0;
        text-align: center;
        font-size: 1rem;
        color: $color-primary-dark;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;

        &:first-child {
          font-weight: bold;
          font-size: 1.125rem;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .schedule-columns {
    margin: 0 auto;
    padding: 0;

    .schedule-column {
      padding: 0;

      h3 {
        margin: 0;
        background: $bg-gradient-hall-title;
        padding: 0.625rem;
        border: 0.063 solid $color-primary-dark;
        color: $color-primary-dark;
        text-align: center;
        @include text-stroke($color-secondary);
      }

      .schedule-section-showtime {
        margin-top: 0px;
        border: 0.125rem solid $color-secondary;
        padding: 0.938rem;
        background: $bg-color-showtime-odd;

        &:nth-child(odd) {
          background: $bg-color-showtime-odd;
        }

        &:nth-child(odd):hover {
          background: $bg-color-showtime-hover-odd;
        }

        &:nth-child(even) {
          background: $bg-color-showtime-even;
        }

        &:nth-child(even):hover {
          background: $bg-color-showtime-hover-even;
        }

        .link-no-decoration {
          text-decoration: none;
        }

        .schedule-section-showtime-info {
          position: relative;
          display: flex;
          align-items: flex-start;

          .schedule-section-showtime-info__time {
            flex: 1;
            align-self: center;
            @include text-stroke($color-primary-dark);
            p {
              margin-left: 0.313rem;
              text-align: left;
              color: $color-text-white;
              &::first-line {
                font-weight: bold;
              }
            }
          }
          .schedule-section-showtime-info__image {
            display: inline-block;
            position: relative;
            border-radius: 0.313rem; // Samma som bilden för att matcha hörnen
            background: linear-gradient(
              to bottom,
              $color-primary-dark,
              $color-primary-light
            );
            padding: 2px; // Justera efter behov för att skapa avstånd mellan bilden och gradienten
            margin-right: 0.938rem;

            img {
              width: 80px;
              height: 118px;
              border-radius: 0.313rem;
            }
          }

          .schedule-section-showtime-info__text {
            flex: 3;
            @include text-stroke($color-primary-dark);
            margin-top: 0.625rem;

            h5 {
              font-size: 1.5rem;
              color: $color-text-white;
            }

            p {
              margin: 0.313rem 0;
              color: $color-text-white;
              text-align: left;
              font-size: 0.875rem;
            }
          }
          .schedule-section-showtime-info__text__age {
            position: absolute;
            bottom: -15px;
            right: 6.875rem;

            p {
              font-size: 0.75rem;
              text-align: right;
              background: $color-primary-light;
              color: $color-secondary;
              padding: 0px 0.313rem;
              border-radius: 0.188rem;
              @include text-stroke($color-primary-dark);
            }
          }
        }
      }
    }
  }

  p {
    text-align: center;
    font-size: 1rem;
    color: #999;
  }
}
