.container {
  max-width: 77.125rem;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.booking-information {
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  @media (max-width: 991.98px) {
    margin-bottom: 16.25rem;
  }
}

.booking-information-header {
  position: relative;
  border-radius: 0.625rem 0.625rem 0 0;
  background: $bg-gradient-info;
  height: 21.875rem;
  padding: 1.25rem;

  h1 {
    font-size: 1.75rem;
    font-weight: bold;
    color: $color-text-white;
    margin-bottom: 1.25rem;
  }

  p {
    color: $color-text-white;
  }
}

.booking-information-header__top {
  position: relative;
  margin-bottom: 1.25rem;

  p {
    font-size: 0.875rem;

    &:nth-child(2) {
      font-size: 0.813rem;
      margin-bottom: 0.313rem;
    }

    &:nth-child(3) {
      font-size: 0.813rem;
      padding: 0;
      margin: 0;
    }
  }
}

.booking-information-header__poster {
  position: absolute;
  right: 0;
  margin-right: 1.25rem;
  border-radius: 0.313rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: end;

  .booking-information-header__poster-image {
    background: $border-image-poster;
    padding: 0.188rem;
    border-radius: 0.313rem;
    width: fit-content;
    height: fit-content;

    img {
      width: 100%;
      height: 100%;
      max-width: 12.5rem;
      object-fit: cover;
      border-radius: 0.313rem;
    }
  }
}

.booking-information-header__bottom {
  padding-top: 1.25rem;

  p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }

  img {
    width: 38px;
    height: 38px;
    margin-right: 1.25rem;
  }

  @media (max-width: 576px) {
    padding-top: 0.625rem;
    text-overflow: nowrap;
    img {
      width: 30px;
      height: 30px;
      margin-right: 0.625rem;
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 0px;
    }
    p {
      font-size: 0.9rem;
      text-overflow: nowrap;
      margin-bottom: 0px;
    }
  }
}

.booking-information-content {
  background: $color-primary-dark;
}

.email-input {
  padding: 0.5rem;
  border: 0.063rem solid $color-email-input-border;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 25rem;
}

.book-button {
  padding: -20px 20px;
  background-color: $color-secondary;
  color: $color-text-dark;
  border: 0.125rem solid $color-primary-dark;
  cursor: pointer;
  width: 50%;
  border-radius: 0.625rem;

  &:disabled {
    background-color: $color-border-light;
  }

  &:hover {
    background: $color-select;
  }
}

.alert {
  padding: 0.625rem;
  margin-top: 1.25rem;
  border-radius: 0.25rem;
}

.alert-success {
  background-color: $color-alert-success-bg;
  color: $color-alert-success-text;
}

.alert-error {
  background-color: $color-alert-error-bg;
  color: $color-alert-error-text;
}

.seat-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.seat-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.313rem;
  margin: 0.625rem 0;
}

.seat-button {
  padding: 0.125rem;
  background: $color-secondary;
  border: 0.125rem solid $color-primary-dark;
  cursor: pointer;
  margin: 0.125rem;
  font-size: 0.75rem;
  color: $color-text-dark;
  width: 2.5rem;
  height: 2.5rem;

  &:hover {
    border: 0.125rem solid $color-select;
    box-shadow: 0 0 0.313rem $color-select;
  }
}

.seat-button.selected {
  background: $color-select;
  color: $color-text-dark;
}

.seat-button.unavailable {
  background: $color-unavailable-seat;
  cursor: not-allowed;
  &:hover {
    border: 0.125rem solid $color-primary-dark;
    box-shadow: 0 0 0px $color-select;
  }
}

.contact-info {
  margin: 0;
  background: $bg-gradient-contact-info;
  color: $color-secondary;
  border: 0.125rem solid $color-secondary;
  padding: 1.25rem;
}

.ticket-counts {
  margin: 0;
  background: $bg-gradient-ticket-counts;
  color: $color-secondary;
  border: 0.125rem solid $color-secondary;
  padding: 1.25rem;
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.063rem;
}

.screen {
  width: 25rem;
  height: 4rem;
  background: linear-gradient(to bottom, #2cdf8c, #045685);
  color: black; // Text color
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  clip-path: polygon(0% 0%, 10% 100%, 90% 100%, 100% 0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1.5rem;
}

.age-confirmation {
  margin: 0;
  background: #2d2d2d;
  color: $color-white;
  padding: 1.25rem;
  .age-confirmation-inner-box {
    border: 0.063rem solid $color-age-box-border;
    border-radius: 0.25rem;
    padding: 0.625rem;
    position: relative;
    .checkbox-container {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input[type="checkbox"] {
      // margin: 20px;
      transform: scale(1.6);
      text-align: left;
      accent-color: $color-select;
    }

    label {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.ticket-counts__tickets {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
}

.ticket-counts__tickets__ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    @include text-stroke($color-primary-dark);
    font-size: 1.75rem;
  }
}

.ticket-counts__tickets__ticket__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  span {
    @include text-stroke($color-primary-dark);
    font-size: 1.4rem;
    min-width: 1.875rem;
    text-align: center;
    transition: color 0.3s ease-in-out;
    color: $color-select;
    &.ticket-count-zero {
      color: $color-secondary;
    }
    &.ticket-count-nonzero {
      color: $color-select;
    }
  }
  button {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    background: $color-secondary;
    border: 0.125rem solid $color-primary-dark;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.125rem;
    // padding-top: 0.15rem;
    &:hover {
      transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      border: 0.125rem solid $color-select;
      box-shadow: 0 0 0.313rem $color-select;
    }
    &:active {
      transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
      background: $color-select;
      transform: scale(0.9);
    }
  }
}

.booking-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bg-gradient-modal;
  color: $color-secondary;
  border: 0.125rem solid $color-secondary;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: $color-white;
  padding: 1.25rem;
  border-radius: 0.313rem;
  text-align: center;
}

.book-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #2d2d2d;
  padding: 0 0 1.25rem 0;
  border-radius: 0 0 0.625rem 0.625rem;
}

.total-amount-aside {
  position: relative;
  height: fit-content;
  z-index: 3;
  @media (max-width: 991.98px) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 1rem;
    text-align: center;
    background: transparent;
    .total-amount {
      position: sticky;
    }
  }
}

.total-amount {
  background: $bg-gradient-total-amount;
  color: $color-primary-dark;
  border: 0.125rem solid $color-primary-dark;
  padding: 1.25rem;
  margin-top: 0;
  border-radius: 0.625rem;
  position: fixed;
  width: 25%;

  h3,
  h2 {
    margin-top: 0.625rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 1.25rem;

    &:last-child {
      font-size: 1.563rem;
      font-weight: bold;
    }

    span:first-child {
      flex-grow: 1;
      text-align: left;
    }

    span:last-child {
      text-align: right;
      white-space: nowrap;
    }
  }
}
.book-button h1 {
  font-size: 1.563rem;
}

body.hide-footer {
  footer {
    display: none;
  }
}
