.movie-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;

	@media screen and (max-width: 992px) {
		grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); // Visa två kolumner på mycket små skärmar
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr)); // Visa två kolumner på många skärmar
	}

	@media screen and (max-width: 430px) {
		grid-template-columns: repeat(2, 1fr); // Visa två kolumner på mycket små skärmar
	}
}


.btn-secondary {
	background-color: $color-secondary !important;
	border-color: $color-secondary !important;
	color:$color-primary-dark !important;
	font-family: "Cinzel", serif !important;
    font-weight: bold !important;
    font-size: 16px !important;

	&:hover,
	&:active,
	&:focus {
	background-color: $color-select !important;
	border-color: $color-select !important;
	color:$color-primary-dark !important;
	
	}
}

.btn-primary {
	background-color: $color-secondary !important;
	border-color: $color-secondary !important;
	color:$color-primary-dark !important;
	font-family: "Cinzel", serif !important;
    font-weight: bold !important;
    font-size: 16px !important;

	&:hover,
	&:active,
	&:focus {
	background-color: $color-select !important;
	border-color: $color-select !important;
	
	}
}