.movie-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	// padding: 10px;
	// a {
	// 	width: fit-content;
	// }
	// div {
	// 	width: fit-content;
	// }
	// @media screen and (max-width: 768px) {
	// 	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	// }

	@media screen and (max-width: 992px) {
		grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); // Visa två kolumner på mycket små skärmar
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr)); // Visa två kolumner på många skärmar
	}

	@media screen and (max-width: 430px) {
		grid-template-columns: repeat(2, 1fr); // Visa två kolumner på mycket små skärmar
	}
}