.current-shows-section {
	padding: 20px;
	background-color: transparent;
	border-radius: 8px;
	max-width: 100%;

	.titlebar-text {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 0px;
		@include text-stroke($color-primary-dark);
		color: #FCAF00;
	}

	// Style för navigation buttons

	.titlebar-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 6rem;
		margin-top: 2rem;
		background:  linear-gradient(to left, #000F26, #045685, #000F26);
		border: 2px solid #000F26;
		border-radius: 5px;
	}


  	.navigation-buttons {
  	display: flex;
  	justify-content: center;
  	margin: 20px 0;
		align-items: center;
		h2 {
			font-family: "Cinzel", serif;
			font-weight: bold;
			font-size: 1.5rem;
			color: $color-secondary;
			@include text-stroke($color-primary-dark);
		}

  	.arrow-button {
  		position: relative;
  		background: transparent;
  		border: none;
  		cursor: pointer;
  		width: 60px;
  		height: 60px;
  		padding: 0;
  		transition: transform 0.2s;

  		&:hover {
  			transform: scale(1.1);
  		}

  		&:disabled {
  			cursor: not-allowed;
  		}

  		// knappstyling
  		&.previous::before {
  			content: '';
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			width: 0;
  			height: 0;
  			border-top: 15px solid transparent;
  			border-bottom: 15px solid transparent;
  			border-right: 25px solid #FCAF00;
  			transform: translate(-50%, -50%);
  		}

  		&.next::before {
  			content: '';
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			width: 0;
  			height: 0;
  			border-top: 15px solid transparent;
  			border-bottom: 15px solid transparent;
  			border-left: 25px solid #FCAF00;
  			transform: translate(-50%, -50%);
  		}
  	}
  }

	// Grid för att visa filmer
	.movie-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 5px;
		text-align: center;
		padding: 10px;


		.movie-button {
			background: $bg-gradient-movie-button;
			border: 2px solid #000F26;
			border-radius: 5px;
			padding: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			transition: transform 0.2s ease, box-shadow 0.2s ease;
			font-size: 12px;

			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
				background: $bg-gradient-movie-button-highlight;
			}

			.movie-button__poster {
				display: inline-block;
				position: relative;
				border-radius: 5px; // Samma som bilden för att matcha hörnen
				background: linear-gradient(to bottom, $color-primary-dark, $color-primary-light);
				padding: 1px; // Justera efter behov för att skapa avstånd mellan bilden och gradienten
				height: 266px;
				width: 100%;

				img {
					border-radius: 5px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h2 {
				font-size: 1.2rem;
				text-decoration: none;
				color: white;
				margin-bottom: 5px;
			}

			p {
				font-size: 0.9rem;
				color: white;
				margin-bottom: 2px;
			}
			.genre {
			align-self: center;
			}
			.age-restriction {
				display: none;
			}
		}
	}

	// Meddelanden för loading, error och no-movies
	.loading,
	.error,
	.no-movies {
		text-align: center;
		font-size: 1.2rem;
		color: white;
		margin-top: 20px;
	}
}