.profile-content {
  background: $color-primary-dark;
  border-radius: 10px;
  min-height: calc(100vh - (80px + 300px));
  h3 {
    background: linear-gradient(
      to bottom,
      $color-primary-light,
      $color-primary-dark
    );
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 0;
    color: $color-secondary;
    @include text-stroke($color-primary-dark);
  }
  .accordion-container-wrapper {
    margin: 0 auto;
    max-width: 1234px;
  }
}

.accordion {
  .accordion-button {
    background: $color-secondary;
    border-radius: 0px;
  }
}
.accordion-header {
  background: $color-secondary;
  border-radius: 0px;
}

.accordion-body {
  // border-radius: 10px;
  padding: 0;
  background: $color-primary-dark;
  p {
    color: $color-secondary;
    margin: 0;
    padding: 1rem;
  }
}

.collapse {
  background: $color-primary-dark;
  border-radius: 0px;
}
.accordion-item {
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  background: $color-secondary;

  &:first-of-type {
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid $color-secondary;
    background: $color-secondary;
    > .accordion-header .accordion-button {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      color: $color-primary-dark;
      &.collapsed {
        // border-bottom-right-radius: 0px;
        // border-bottom-left-radius: 0px;
        background: $color-secondary;
      }
    }
  }
  // &:not(:first-of-type) {
  //   // border-top: 0;
  // }
  &:last-of-type {
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid $color-secondary;
    background: $color-secondary;
    > .accordion-header .accordion-button {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      // border: none;
      color: $color-primary-dark;
      &.collapsed {
        background: $color-secondary;
        // border-bottom-right-radius: 10px;
        // border-bottom-left-radius: 10px;
      }
    }
    > .accordion-collapse {
      border-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      background: $color-secondary;
    }
  }
}

.table {
  // border-radius: 10px;
  background: purple; //syns inte
  margin-bottom: 0px;
  thead {
    background: yellow; //syns inte
    tr {
      background: red; //syns inte
      th {
        background: transparent;
        border-radius: 10px;
      }
    }
  }
  tbody {
    background: rgb(0, 38, 255); //syns inte
    tr {
      background: red; //syns inte
      td {
        background: green;
        border-radius: 10px;
      }
    }
  }
}
